<% include header %>


<div class="row">

  <div class="panel panel-primary col-md-8 results">
  <div class="panel-heading text-center">información de la pelicula</div>
      <%= Title %><br>
      <%= Year %><br>
      <%= Genre %><br>
      <%= Plot %><br>
  </div>
  <div class="col-md-4">
    <img src="<%= Poster%>"><br>
  </div>
</div>

<% include footer %>
