<% include header %>


<div class="row">
  <div class="col-md-4">
    <img src="<%= Poster%>"><br>
  </div>
  <div class="panel panel-primary col-md-8 results">
  <div class="panel-heading text-center theinfo">información de la pelicula</div>
      <h2>Titulo</h2><br>
      <%= Title %><br>
      <h2>Año</h2><br>
      <%= Year %><br>
      <h2>Genera</h2><br>
      <%= Genre %><br>
      <h2>Tema</h2><br>
      <%= Plot %><br>
  </div>
</div>

<% include footer %>
