<% include header %>
 <div class="panel panel-primary ">
  <div class="panel-heading"><h2>Sus Favoritas</h2></div>
  <div class="panel-body results">
  <ul>
    <% for(var i = 0; i< Wishlist.length; i++){ %>
    <li>
      <a href="/<%= Wishlist[i].movie_imbdID %>">
      <%= Wishlist[i].movie_title %><br>
      <%= Wishlist[i].movie_year %><br>
      <%= Wishlist[i].movie_imbdID %><br>
    </a>
    <!-- <form style='display: inline' role="form" action="/delete" method="post"> -->
      <!-- <input type="hidden"  name="movie_imbdID" value="<%= Wishlist[i].movie_imbdID %>"> -->
      <input type='submit' data-id="<%= Wishlist[i].id %>" class="btn delete" style="display:inline" value="eliminar">
    <!-- </form> -->
    </li>
    <% } %>
  </ul>
</div>
</div>


<% include footer %>
