<% include header %>
 <div class="panel panel-primary ">
  <div class="panel-heading"><h2>Sus Favoritas</h2></div>
  <div class="panel-body results">
  <ul>
    <% for(var i = 0; i< wishlist.length; i++){ %>
    <li>
      <a href="/<%= wishlist[i].movie_imbdID %>">
      <%= wishlist[i].movie_title %><br>
      <%= wishlist[i].movie_year %><br>
      <%= wishlist[i].movie_imbdID %><br>
    </a>
    <!-- <form style='display: inline' role="form" action="/delete" method="post"> -->
      <!-- <input type="hidden"  name="movie_imbdID" value="<%= wishlist[i].movie_imbdID %>"> -->
      <input type='submit' data-id="<%= wishlist[i].id %>" class="btn delete" style="display:inline" value="eliminar">
      <a type='submit' href="/favorites/<%= wishlist[i].id %>/comments" class="btn comment" style="display:inline" value="comentar"><input type="submit" value="comentar" class="btn"></a>
    <!-- </form> -->
    </li>
    <% } %>
  </ul>
</div>
</div>


<% include footer %>
